@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./App.scss";


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
   --main-color: #943993;
  --text-color: #943993;
}

.container {
  width: 90%;
  margin: 0 auto;
}
